TARGET = xml_test
TARGET_FILES = XmlParser/Test/*.cpp

CFLAGS = -IXmlParser/Include -IlibELL/Include
LDFLAGS = -lstdc++ -lellxml

include Script/target.mk
