TARGET = koalang
TARGET_FILES = KoaLang/*.cpp
PCH = CommonHeaders.h

CFLAGS = -I. -IlibELL/Include
LDFLAGS = -lstdc++ -lreadline -lhistory

include Script/target.mk

