TARGET = libell_test


TARGET_FILES = libELL/Test/test.cpp
CFLAGS += -IlibELL/Include
LDFLAGS += -lstdc++

PCH = CommonHeaders.h

include Script/target.mk
