TARGET = libell_test

TARGET_FILES = libELL/Test/test.cpp
CFLAGS += -IlibELL/Include
LDFLAGS += -lstdc++

PCH = libELL/Include/CommonHeaders.h

include Script/target.mk
