TARGET = libellxml.so
TARGET_FILES = XmlParser/Source/*.cpp
PCH = libELL/Include/CommonHeaders.h

CFLAGS = -IXmlParser/Include -IlibELL/Include
LDFLAGS = -lstdc++

include Script/target.mk
