TARGET = xml_test
TARGET_FILES = XmlParser/Test/XmlTest.cpp

CFLAGS = -IXmlParser/Include -IlibELL/Include
LDFLAGS = -lstdc++

include Script/target.mk
