TARGET = koalang
TARGET_FILES = KoaLang/Test/*.cpp KoaLang/Source/*.cpp

CFLAGS = -IKoaLang/Include -IlibELL/Include -ISystem/Include
LDFLAGS = -lstdc++

include Script/target.mk
